<h1>Appointment</h1>
<p> make appointments
</p>
<li>
    <div class="btn-group" dropdown>
        <button type="button" class="btn btn-info" dropdown-toggle>Beautician</button>
        <ul class="dropdown-menu" role="menu">
            <li><a href="#">Beautician 1</a></li>
            <li><a href="#">Beautician 2</a></li>
            <li><a href="#">Beautician 3</a></li>
            <li><a href="#">Beautician 4</a></li>
            <li><a href="#">Beautician 5</a></li>
            <li><a href="#">Beautician 6</a></li>
            <li><a href="#">Beautician 7</a></li>
        </ul>
    </div>
</li>
<li>
    <div class="appt-calander">
        <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
    </div>
</li>