<h1>Appointment</h1>
<p> make appointments
</p>
<li>
    <div class="btn-group" dropdown>
        <button type="button" class="btn btn-info" dropdown-toggle>Employee</button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="employee in model.employees">
                <button ng-click="model.getSchedule(employee)">{{employee.firstName}}&nbsp;{{employee.lastName}}
                </button>
            </li>
        </ul>
    </div>
</li>
<li>
    <div class="appt-calander">
        <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
    </div>
</li>