.page{
    padding: 5%;
}
.br-fullpage-nav{
    display: none;
}
.navbar-fixed-top{
    list-style-type: none;
    position: fixed;
    left: 1%;
    top: 1%;
    display: inline;
    z-index: 2;
    font-size: 50px;
    padding: 3%
}
.jumbotron{
    max-height: 95%;
    overflow: hidden;
}

